{% if editmode %}
    <div class="card">
        <div class="card-header">
            Settings
        </div>
        <div class="card-body">
            <h5 class="card-title">Add Background Color on Section</h5>
            <div class="form-check form-check-inline">
                <div class="form-check-input">{{ pimcore_checkbox('background') }}</div>
                <div class="form-check-label">add background</div>
            </div>
        </div>
    </div>
{% endif %}